################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Khush/v16/.suo
/khfsh/.vs/khfsh/v16/.suo
/.vs/VSWorkspaceState.json
